<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <el-container style="width: 400px; margin: 0 auto">
        <el-header><span style="font-size: 40px; color: red">{{text}}</span></el-header>
        <el-main>
            <el-form :inline="true" :model="newUser" class="demo-form-inline">
                <el-input v-model="newUser.user" placeholder="谁"></el-input>
                花了
                <el-input v-model="newUser.consume" placeholder="多少钱"></el-input>
                <el-button type="primary" @click="add">添加</el-button> 
            </el-form>
            <hr/>
            <div v-for="(item, index) in persions" :key="index">
                <span>{{item.user}}</span> 花了 <span>{{item.consume}}</span>
            </div>
            <el-button type="primary" @click="comp">计算结果</el-button> 
            <div v-for="(item, index) in results" >
                {{item}}
            </div>
        </el-main>
    </el-container>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                text: 'AA分钱',
                num: 0,
                persions: [],
                newUser: {},
                allMoney: 0,
                mean: 0,
                results: []
            },
            methods: {
                add (){
                    console.log('添加用户')
                    let user = this.newUser
                    this.persions.push({
                        user: this.newUser.user,
                        consume: this.newUser.consume
                    })
                    this.newUser.user = ''
                    this.newUser.consume = ''
                },
                comp () {
                    // 复制数组
                    let ipersions = JSON.parse(JSON.stringify(this.persions))
                    // 计算一共花了多少钱和多少人
                    for(item of ipersions) {
                        console.log(item)
                        this.allMoney += Number.parseInt(item.consume)
                        ++this.num
                    }
                    // 计算每个人平均花了多少钱
                    this.mean = this.allMoney / this.num
                    this.results.push('一共花了' + this.allMoney.toFixed(1) + '元')
                    this.results.push('平均每人' + this.mean.toFixed(1) + '元')
                    this.results.push('---------------分钱方法----------------------')
                    console.log('一共' + this.num + '个人，平均每人' + this.mean +'元')
                    // 排序
                    ipersions.sort((val1, val2) => {
                        return val2.consume - val1.consume
                    })
                    console.log(ipersions)
                    // 遍历用户，计算结算方法
                    for (let i = 0; i < ipersions.length; i++) {
                        let iconsume = Number.parseFloat(ipersions[i].consume)
                        let imean = Number.parseFloat(this.mean)
                        console.log('iconsome' + iconsume)
                        console.log('imean' + imean)
                        if(iconsume === imean) {
                            continue
                        } else if(iconsume > imean) {
                            for (let j = i + 1; j < ipersions.length; j++) {
                                let bconsume = Number.parseFloat(ipersions[j].consume)
                                console.log('bconsume' + bconsume)
                                if(bconsume >= imean) {
                                    continue
                                } else {
                                    // xuyao
                                    let xuyao = iconsume - imean
                                    // keyi
                                    let keyi = imean - bconsume
                                    if (xuyao > keyi) {
                                        ipersions[i].consume = Number.parseFloat(ipersions[i].consume) - keyi
                                        ipersions[j].consume = Number.parseFloat(ipersions[j].consume) + keyi
                                        let str = ipersions[j].user + '要给' + ipersions[i].user + ' ' + keyi.toFixed(1) + ' ' +'元'
                                        this.results.push(str)
                                        console.log(ipersions[i].user + '要给' + ipersions[j].user + xuyao +'元')
                                    } else {
                                        ipersions[i].consume = Number.parseFloat(ipersions[i].consume) - xuyao
                                        ipersions[j].consume = Number.parseFloat(ipersions[j].consume) + xuyao
                                        let str = ipersions[j].user + '要给' + ipersions[i].user + ' ' + xuyao.toFixed(1) + ' ' +'元'
                                        this.results.push(str)
                                        console.log('2' + ipersions[j].user + '要给' + ipersions[i].user + xuyao +'元')
                                    }
                                }
                            }
                        }
                    }
                }
            }
        })

    </script>
</body>
</html>